<mat-toolbar class="navbar">SimpleTerms
    <div class="navbar-items">
        <span>
            <button mat-flat-button class="nav-button active">Home</button>
        </span>
        <span>
            <button mat-flat-button class="nav-button">About</button>
        </span>
        <span>
            <button mat-flat-button class="nav-button">Technologies</button>
        </span>
        <span>
            <button mat-flat-button class="nav-button">Screeshots</button>
        </span>
        <span>
            <button mat-flat-button class="nav-button">Team</button>
        </span>
        <span>
            <button mat-flat-button class="nav-button">Blog</button>
        </span>
        <span>
            <button mat-flat-button class="nav-button">Contact</button>
        </span>
    </div>
</mat-toolbar>
